tr[data-isMCPN="X"]{
  background:  LightGray!important;
}

.sapMListTblCell.cellBorderRight {
	border-right: 1px solid lightgray;
}
 
.sapMListTblHeaderCell.listHeaderDivider {
	border-top: 1px solid black;
	border-bottom: 2px solid black;
}
 
.sapMListTblCell.cellBorderLeft {
	border-left: 1px solid lightgray;
}

.sapMListTblCell.notSelected {
	background: #f7f7f7;
}